<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% image '@FrameworkBundle/Resources/public/images/logotipo.png' %}
<img src="http://104.236.50.14{{ asset_url }}" class="header-logo" alt="Logo"/>
{% endimage %}

<h4>¡Bienvenido {{nombre}}!</h4>
<p>ProperDeal te da la más cordial bienvenida. Te ha sido creada una cuenta en nuestro portal, solicita tu usuario y password e ingresa en este <a href="http://104.236.50.14/PDCRM/web/app.php/login">link</a>.</p>
<p>Saludos cordiales.</p>
</body>
</html>