{% extends 'baseabc.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <!-- Page Layout here -->
            <br/>
            <div class="row">
                <nav>
                    <div class="nav-wrapper z-depth-1">
                        <div class="col s12  blue darken-1 ">
                            <a href="#!" class="breadcrumb">Documentos</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row">
                <table>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/alta_bodega.docx">Alta de bodega</a></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/alta_de_casa.docx">Alta de casa</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/alta_de_departamento.docx">Alta de departamento</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/alta_de_oficina.docx">Alta de oficina</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/alta_local_comercial.docx">Alta de local comercial</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/alta_terreno_residencial.docx">Alta de terreno residencial</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/carta_comision.docx">Carta comision</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/carta_compromiso_rotulo.docx">Carta Compromiso Rotulo.docx</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/carta_de_intencion_de_compra_b.docx">Carta de intención de compra.docx</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/comisiones_proper_deal.doc">Comisiones ProperDeal</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/contrato_de_arredamiento.doc">Contrato de Arredamiento</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/contrato_de_exclusividad_proper_deal.docx">Contrato de Exclusividad Proper Deal</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/contrato_de_promesa_de_venta_privada_bosques.doc">Contrato de promesa de venta privada bosques</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/formato_promesa_compraventa.doc">Formato promesa compraventa</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/hoja_membretada_proper_deal.docx">Hoja membretada Proper Deal</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/mosaico_hab_abr_2012_gzzbr_completo_2012-04-18.xls">Mosaico habitacional</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/mosaico_valores_2012.docx">Mosaico de valores</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/oferta_formal_para_venta.docx">Oferta formal para venta</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/oferta_para_renta.docx">Oferta para renta</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/opinion_de_valor.docx">Opinión de Valor</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/presentaciones_proper_deal.ppt">Presentaciones Proper Deal</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/recibo_deposito_en_garantia.docx">Recibo depçosito en Garantía</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/registro_demostracion_de_propiedad.xlsx">Registro de demostración de propiedad</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/reglamento_properdeal_2016.docx">Reglamento Proper Deal</a></td></tr>
                    <tr><td valign="top"><a href="/PDCRM/web/docs/solicitud_de_arrendamiento.doc">Solicitud de arrendamiento</a></td></tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: white;
            height: 200vh;
        }
    </style>

{% endblock %}

{% block javascripts %}
{% endblock %}
