{% extends 'baseprincipal.html.twig' %}

{% block body %}
    <div id="wrapper">

        <div id="container">

            <div style="margin-top: 0px">
                {{ render(controller(
                'AppBundle:BarraHerramientas:show',
                { 'indexSeleccionado': 2, 'numProspectos' : 0 }
                )) }}
            </div>

            <!-- Page Layout here -->
            <div class="row z-depth-2" >

                <div class="col s4 m3 l3 blue lighten-3"> <!-- Note that "m4 l3" was added -->
                    <br/>
                    <div class="row">
                        <a class="waves-effect waves-light btn blue darken-1"><i class="material-icons left">home</i>Alta de Propiedad</a>
                    </div>
                    <div class="row">
                        <a class="waves-effect waves-light btn blue darken-1"><i class="material-icons left">person</i>Nuevo Prospecto&nbsp;</a>
                    </div>

                    <div class="row">

                        {{ render(controller(
                        'AppBundle:MenuPrincipal:show',
                        { }
                        )) }}

                    </div>
                </div>

                <div class="col s8 m9 l9"> <!-- Note that "m8 l9" was added -->
                    <iframe id="iframePrincipal" src="{{ path('noticia_index', {}) }}" style="width:100%; height:420vh; margin-top:8px; padding-top:-8px" frameBorder="0" scrolling="no">

                    </iframe>
                </div>
            </div>
        </div>
    </div>

    <script>
        function actualizarBusqueda(parametros)
        {
            var iframePrincipal = document.getElementById('iframePrincipal');

            iframePrincipal.src = '{{ path('consultarinmueble_resultados', {}) }}?' + parametros;
        }
    </script>

{% endblock %}

{% block stylesheets %}

    <style>
        body {
            background: white;
            height: 440vh;
        }

    </style>

{% endblock %}
