<nav class="transparent header z-depth-0" role="navigation">
    <div class="nav-wrapper">

        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html" style="font-size:13px;"><i class="material-icons left" style="font-size:20px;">file_download</i>Documentos</a></li>
            <li><a href="sass.html" style="font-size:13px;"><i class="material-icons left" style="font-size:20px;">grid_on</i>Excel</a></li>
            <li><a href="collapsible.html" style="font-size:13px;"><i class="material-icons left" style="font-size:20px;">home</i>MiniSitio</a></li>
            <li>
                <a href="mobile.html" style="font-size:13px;"><i class="material-icons right" style="font-size:20px;">warning</i>Solicitudes
                    <div class="chip">
                        0
                    </div>
                </a>
            </li>
            <li class="brown lighten-4" style="font-size:13px;"><a href="mobile.html" style="font-size:13px;"><i class="material-icons left" style="font-size:20px;">warning</i>Soporte 24h</a></li>
        </ul>
    </div>
</nav>
