<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Proper Deal{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% stylesheets '@FrameworkBundle/Resources/public/materialize/css/*'
    '@FrameworkBundle/Resources/public/css/*'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style>
        .progress {
            position: absolute;
            margin-top: 0px;
            height: 3px;
        }
    </style>

    {% block javascriptsheaders %}

    {% endblock %}

    {% block javascripts %}

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        {% javascripts '@FrameworkBundle/Resources/public/materialize/js/*'%}
        <script src="{{ asset_url }}"></script>
        <script>
            {% for flash_message in app.session.flashbag.get('notice') %}
                alert('{{ flash_message }}');
            {% endfor %}
        </script>
        {% endjavascripts %}

    {% endblock %}

</head>
<body onload="document.getElementById('divProgress').style.display='none';">
<div id="divProgress" class="progress" >
    <div class="indeterminate"></div>
</div>

{% block body %}{% endblock %}

</body>

</html>
