{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
            <div class="z-depth-1 form" style="width:50%;align-content: center">
                <div class="formcontainer">
                    <div>
                        <br/>
                        <h5>Inicia sesión</h5>
                        <br/>
                        <br/>
                    </div>
                    <div>
                        <form action="{{ path('login') }}" method="post">

                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" id="username" name="_username" required = "required"/>
                                    <label for="username">E-mail</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="password" id="password" name="_password" required = "required"/>
                                    <label for="password">Password</label>
                                </div>
                            </div>

                            <input type="hidden" name="_target_path" value="homepage" />

                            <button type="submit" class="waves-effect waves-light btn blue-grey darken-4 right">Entrar</button>
                        </form>
                    </div>

                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                </div>
            </div>
    </div>

    <style>
        body {
            background: url({% image '@FrameworkBundle/Resources/public/images/2.jpg' %}
        {{ asset_url }}
    {% endimage %}
            );
            height:100vh;
            background-size:cover;
        }
    </style>

{% endblock %}
