<footer class="page-footer grey">
    <div class="footer-copyright">
        <div class="container">
            Proper Deal ® 2016 | Todos los Derechos Reservados.
        </div>
    </div>
</footer>