{% extends 'baseabc.html.twig' %}

{% block body %}
    <h5>Banners</h5>

    <div class="row">
        <a href="{{ path('banner_new', {}) }}" class="waves-effect waves-light btn blue accent-4 right"><i class="material-icons left">add</i>Nuevo Banner</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>Banner</th>
            <th>Operaciones</th>
        </tr>
        </thead>
        <tbody>
        {% for banner in banners %}
            <tr>
                <td><img src="{{ banner.getWebPath() }}" style="width: 3em; height: 3em"/></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('banner_edit', { 'id': banner.idBanner }) }}">editar</a>
                        </li>
                        <li>
                            <a href="{{ path('mensaje_edit', { 'id': banner.idBanner }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% block stylesheets %}
        <style>

            body {
                height:100vh;
                background-color: white;
            }

        </style>
    {% endblock %}
{% endblock %}
