<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header ">Mi Cuenta</div>
        <div class="collapsible-body blue lighten-5">
            <div class="collection">
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('asesor_index', {}) }}');">
                    <span class="blue-text text-darken-2">Asesores</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('colaborador_index', {}) }}');">
                    <span class="blue-text text-darken-2">Colaboradores</span>
                </a>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header ">Envíos</div>
        <div class="collapsible-body blue lighten-5">
            <div class="collection">
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('listacontacto_index', {}) }}');">
                    <span class="blue-text text-darken-2">Admón de Listas</span>
                </a>
                <a href="#!" class="collection-item transparent text-darken-2" onclick="abrirURL('{{ path('contacto_index', {}) }}');">
                    <span class="blue-text text-darken-2">Contactos</span>
                </a>
            </div>
        </div>
    </li>
</ul>
<script>
    function abrirURL($url)
    {
        var iframe = document.getElementById('iframePrincipal');
        iframe.style.display='';
        iframe.src = $url;
    }
</script>